.popup_extend {
    padding: 0;

    .popup__bg {
        display: none;
    }

    .popup__content {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        box-shadow: none;
        border-radius: 0;
        overflow-y: auto;
    }

    &.popup_animation-show {
        .popup__bg {
            animation: none;
        }
    }

    &.popup_animation-hide {
        .popup__bg {
            animation: none;
        }
    }
}

.extend {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to top, #e3456d, #db1647);
        color: #ffffff;
        font-weight: $font-family-medium;
        line-height: 28px;
        padding: 0 35px;
        z-index: 10;
        overflow: hidden;
    }

    &__content {
        padding-top: 52px;
        position: relative;
        flex: 1 1 100vh;
        overflow: hidden;
        overflow-y: auto;
        background: #fff;
        -webkit-overflow-scrolling: touch;
        height: 100vh;
    }

    &__back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 18px 10px;
        line-height: 0;
    }

    &__close {
        @include absolute($top: 0, $right: 0);
        padding: 14px;
    }

    &__tab {
        position: relative;
        color: rgba(255, 255, 255, .8);
        font-weight: $font-wm;
        font-size: $font-m;
        box-sizing: border-box;
        text-align: center;
        flex: 1;
        align-self: stretch;

        &_active {
          color: #fff;
        }
    }

    &__tab-text {
        position: relative;
        display: inline-block;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;
        padding: 12px 4px 0;
    }

    &__tab-notify {
        position: absolute;
        top: 7px;
        left: 100%;
        margin-left: -10px;
        min-width: 20px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        border-radius: 10px;
        padding: 1px 4px;
        color: #ff2f51;
        background: #ffd640;
        font-weight: bold;
    }

    .extend__tab_active .extend__tab-text {
        border-color: #fff;
    }

    & iframe {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }
}

.extend__content_clear {
    background: transparent;
}

.extend-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 70px;

    &__back {
        display: flex;
        align-items: center;
        padding: 16px;
        @include absolute($top: 0, $left: 0);
    }

    &__actions {
        display: flex;
        @include absolute($top: 0, $right: 12px, $bottom: 0);
    }

    &__title {
        font-size: $font-m;
        font-weight: 700;
        font-family: $font-family-montserrat;
    }
}

.extend-content {
    position: relative;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
