.inline-message {
    position: relative;

    &__input {
        width: 100%;
        padding-right: 50px !important;
    }

    &__disabled-send {
        pointer-events: none;
        opacity: .5;
    }

    .ico {
        margin: auto 0;
        @include absolute($top: 0, $right: 12px, $bottom: 0);
    }
}
