$loader-w: 160px;
$loader-h: 160px;
$loader-sw: 60px;
$loader-sh: 60px;
$loader-xsw: 24px;
$loader-xsh: 24px;
$loader-thickness: 3px;
$loader-time: 850ms;
$loader-loader-color: $color-blue-1;
$loader-bg-color: #fff;

.loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrap-extend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.loader-wrap-inside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.loader-wrap_black {
    background: rgba(0, 0, 0, .2);
}

.loader-wrap_white {
    background: #fff;
}

.loader-circle {
    border-radius: 50%;
    width: $loader-w;
    height: $loader-h;
    z-index: 2;
    border-top: $loader-thickness solid rgba(255, 255, 255, 0.2);
    border-right: $loader-thickness solid rgba(255, 255, 255, 0.2);
    border-bottom: $loader-thickness solid rgba(255, 255, 255, 0.2);
    border-left: $loader-thickness solid $loader-loader-color;
    animation: loader-rotate $loader-time infinite linear;
}

.loader-circle_small {
    width: $loader-sw;
    height: $loader-sh;
}

.loader-circle_extra-small {
    width: $loader-xsw;
    height: $loader-xsh;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
