.complaint {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
	padding: 20px;

  	&__title {
	  	font-size: 18px;
	  	font-weight: bold;
	  	text-align: center;
	  	margin: 22px 0;
	}

  	&__message {
	  	margin: 50px 0 80px;
	  	text-align: center;
	}

	&__black-list {
		max-width: 260px;
		margin: 50px 0 30px;
		-webkit-tap-highlight-color: transparent;

		[type="checkbox"]:checked + label,
		[type="checkbox"]:not(:checked) + label
		{
			line-height: 16px;
			padding-right: 0px;
			padding-left: 30px;
		}

		[type="checkbox"]:checked + label:before,
		[type="checkbox"]:not(:checked) + label:before {
			right: auto;
			left: 0;
		}

		[type="checkbox"]:checked + label:after,
		[type="checkbox"]:not(:checked) + label:after {
			right: auto;
			left: 4px;
		}
	}

	&__send-btn {
		margin-bottom: 4px;
	}

  	&__support-btn {
	  	margin: 16px 0;

	  	.ico {
		  	margin-left: 4px;
		}
	}
}
