.chat-photo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 20px 44px;
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &__ava {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-color: $color-gray2;
        margin-bottom: 20px;
        flex-shrink: 0;
    }

    &__title {
        font-size: 20px;
        text-align: center;
        flex-grow: 1;
        margin-bottom: 20px;
    }
}
