.messenger-chat-head {
    display: flex;
    border-bottom: #f0f0f0 1px solid;
    align-items: center;
    //padding: 4px 6px;
    //flex-shrink: 0;
    //padding-top: env(safe-area-inset-top);

    &__controls {
        display: flex;
    }

    &__button {
        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;
        background: none;
        outline: none;
        padding: 16px 8px 16px 16px;
        margin: 0;
    }
}

.messenger-chat-user {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;

    &__ava-wrapper {
        margin-right: 12px;
        position: relative;

        .online {
            position: absolute;
            right: 0px;
            bottom: 0px;
            background: #40CE0E;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: #fff 3px solid;
        }
    }

    &__ava {
        width: 36px;
        height: 36px;
        background-color: #ccc;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        font-family: $font-family-montserrat;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
        color: $color-black;
    }
}
