.messages-empty {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 28px 20px 0;

  	&__ava {
	  	width: 200px;
	  	height: 200px;
	  	border-radius: 50%;
	  	background-position: center;
	  	background-size: cover;
		background-color: $color-gray2;
	  	margin-bottom: 20px;
	}

  	&__title {
	  	font-size: 20px;
	}

    &__mutual-title {
        font-size: 28px;
        font-weight: bold;
		text-align: center;
        color: $color-yellow;
        background: linear-gradient(90deg, #f6ad1e, #f65f1e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 14px;
    }

	&__mutual-text {
        text-align: center;
		word-break: break-word;
		color: $color-gray3;

		span {
			color: $color-black;
		}
	}
}
