.card-billing {
    background-color: #fff;

    &__security {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-gray1;
        padding: 7px 16px;
    }

    &__protected {
        position: relative;
        font-size: 11px;
        color: $color-gray4;
        padding-left: 16px;

        .ico-bill_lock {
            @include absolute($top: 0, $left: 0);
        }
    }

    &__payments {
        display: flex;
    }

    &__card-form {
        height: 100%;
        padding: 16px;
    }

    .extend-header {
        height: 56px;
    }

    .extend-header__title {
        font-family: $font-family-lato;
        font-size: 18px;
    }
}
