.input-field {
    padding: 0 0 14px;
    position: relative;
    margin: 0 0 14px;

    textarea,
    input[type="text"] {
        display: block;
        width: 100%;

        &.input-field__input_invalid {
            border-color: $color-orange-1;
        }
    }

    &__error {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 12px;
        color: $color-orange-1;
    }
}
