.number-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    &__picker.smooth-picker {
        font-size: 24px !important;
        font-weight: bold;
        width: 100%;
        margin: 0 0 24px;
        background: #fff;

        .smooth-handle-layer .smooth-top{
            background: linear-gradient(to bottom, #fff 0%, rgba(#fff, .1) 100%);
            border-bottom: 1px solid rgba($color-gray3, .6);
        }

        .smooth-handle-layer .smooth-bottom{
            background: linear-gradient(to top, #fff 0%, rgba(#fff, .1) 100%);
            border-top: 1px solid rgba($color-gray3, .6);
        }
    }

    &__units {
        font-size: 16px;
    }
}
