.photo-gallery {

    &__list {
        padding: 0 16px;
        margin-bottom: 16px;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__photo {
        display: inline-block;
        background-color: $color-gray2;
        background-position: center;
        background-size: cover;
        border: 3px solid #fff;
        border-radius: 4px;
        width: 88px;
        height: 132px;
        margin-right: 6px;
    }

    &__photo_main {
        border: 1.5px solid $color-yellow-tapped;
        box-shadow: inset 0 0 0 1.5px #fff;
    }

    &__empty {
        display: flex;
        padding: 0 20px;
        margin-bottom: 16px;
    }

    &__photo-slot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 88px;
        height: 132px;
        background-color: #fff;
        border: 1.5px dashed $color-yellow-tapped;
        border-radius: 2px;
    }

    &__message {
        flex-grow: 1;
        padding: 40px 0 0 20px;

        div:nth-child(1) {
            font-weight: bold;
            margin-bottom: 6px;
        }

        div:nth-child(2) {
            color: $color-gray4;
        }
    }

    &__actions {
        padding: 0 16px;

        .btn_secondary {
            font-weight: bold;
            padding: 12px 0 10px;
            width: 100%;
        }
    }
}
