.profile-editor {
    &__form {
        padding: 20px;
    }

    &__section {
        margin-bottom: 25px;
    }

    &__section-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;

        button {
            margin-top: 6px;
            float: right;
        }
    }

    &__field {
        display: flex;
        align-items: center;
        height: 44px;
    }

    &__field-label {
        flex-shrink: 0;
        color: $color-gray4;
        margin-right: 8px;
    }

    &__field-value {
        position: relative;
        flex-grow: 1;
        text-align: right;
        color: $color-gray3;
        padding-right: 20px;

        .ico {
            @include absolute($top: 2px, $right: 0);
        }
    }

    &__about {
        font-weight: bold;
        margin-bottom: 28px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    &__about-empty {
        color: $color-gray3;
        margin-bottom: 28px;
    }
}
