.radio-field {
    margin-bottom: 26px;

    &__option {
        padding: 10px 0;
        -webkit-tap-highlight-color: transparent;
    }

    &__option-not-set {
        label {
            color: $color-gray3 !important;
        }
    }
}
