.incoming-item {
    display: flex;
    padding: $s $m;
    align-items: stretch;
    width: 100%;
    will-change: transform;

    &.touch{
        background: $color-gray1;
    }

    &_unread-theirs{
        .messenger-contact__message-text{
            color: $color-text-primary;
        }

        .ico2_photo-black-16{
            opacity: 1;
        }
    }

    &__ava-wrapper {
        flex-shrink: 0;
        margin-right: $m;
        position: relative;
    }

    &__right-side {
        flex-grow: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__ava {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $color-gray2;
        background-position: center;
        background-size: cover;

        .online-status{
            @include absolute($bottom: 2px, $right: 2px);
            width: 12px;
            height: 12px;
            background: $color-green-1;
            border: 2px solid $color-white;
        }
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__name {
        flex-grow: 1;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-m;
    }

    &__date {
        flex-shrink: 0;
        color: $color-text-secondary;
        font-size: 12px;
        margin-left: 8px;
    }

    &__message {
        margin-top: $s;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__message-text {
        color: #4E545E;
        font-size: 14px;
        max-width: 70%;

        .ico2_photo-black-16{
            margin: -2px 0 0;
            opacity: .7;
        }
    }

    &__count {
        font-size: 14px;
        height: 20px;
        font-weight: bold;
        color: #fff;
        background-color: $color-orange-1;
        border-radius: 10px;
        padding: 3px 6px 4px;
        line-height: 14px;
        min-width: 8px;
        text-align: center;
    }
}
