.photoviewer {
    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__buttombar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        background: rgba(0,0,0,0.4);
        border-top: rgba(255, 255, 255, 0.35) 1px solid;
    }
    &__buttombar-btn {
        width: 50%;
        background: transparent;
        border: none;
        padding: $m 0;
        color: rgba(255, 255, 255, 0.7);
        margin: 0;
        outline: none;
        font-size: $font-m;
        @extend %ripple;
        @extend %ripple_white;
        &:first-child {
            border-right: rgba(255, 255, 255, 0.35) 1px solid;
        }
    }
}

.photoviewer-slider {
    overflow: hidden;

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0,0,0);
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
}
