$cardsTotal: 10;
$leaveDuration: 0.7s;
$leaveXOffset: 120%;
$leaveAngle: 15deg;
$cardRadius: 16px;

.card-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    background: linear-gradient(180deg, #fff, #2B45CF 100%);
    z-index: 0;
    pointer-events: none;
    will-change: transform;
    border-radius: $cardRadius;
    transform-origin: 50% 100%;
    touch-action: none;
    box-shadow: 0 0 10px rgba(#2B45CF, .5);

    &__is-current {
        pointer-events: auto;
    }

    &__animated {
        transition: transform 0.2s linear;

        .card-item__indicator {
            transition: opacity 0.2s linear;
        }
    }

  	&:nth-child(1) {
	  	z-index: 3;
	}

	&:nth-child(2) {
	    z-index: 2;
        transform: translateY(-4px);
    }

	&:nth-child(3) {
	    z-index: 1;
        transform: translateY(-6px);
    }

    &__photo {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        border-radius: $cardRadius;
    }

    &__indicator {
        position: absolute;
        border-radius: 0 0 $cardRadius $cardRadius;
        opacity: 0;
        will-change: opacity;
        pointer-events: none;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100px;
        transition: opacity .1s linear;

        &_like {
            background: linear-gradient(180deg, rgba(255, 97, 37, 0) 0%, #FF6125 100%);
        }

        &_dislike {
            background: linear-gradient(180deg, rgba(43, 69, 207, 0) 0%, #2B45CF 100%);
        }
    }

    &__ico {
        position: absolute;
        opacity: 0;
        will-change: opacity;
        pointer-events: none;
        bottom: 50%;
        transform: translateY(50%);
        transition: opacity .1s linear;

        &_like {
            right: 38px;
            @extend %ico;
            @extend %ico_feed-like;
        }

        &_dislike {
            left: 38px;
            @extend %ico;
            @extend %ico_feed-dislike;
        }
    }


    &__extra {
        @include absolute($right: 0, $bottom: 0, $left: 0);

        &::before {
            content: '';
            @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
        }
    }

    &__additional {
        position: relative;
        background-color: rgba(0, 0, 0, .4);
        color: #fff;
        padding: 6px;
        pointer-events: none;
    }
}

.like-leave-active, .dislike-leave-active {
    transition: transform $leaveDuration ease;
}

.like-leave-to {
    transform: translate3d($leaveXOffset, 0, 0) rotate($leaveAngle);
}

.dislike-leave-to {
    transform: translate3d(-$leaveXOffset, 0, 0) rotate(-$leaveAngle);
}
