.card-actions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    will-change: opacity;
    transition: opacity .1s linear;

    &__btn {
        position: relative;
    }

    &__btn_text{
        padding: 14px 0;
        width: 220px;
        font-size: 22px;
        font-weight: 700;
        transform: translateY(-2px);
    }

    &__btn_no{
        width: 60px;
        height: 60px;
        background: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        transition: all 0.5s ease;
    }

    &__ico {
        position: relative;

        svg {
            display: block;
            margin: 0 auto;
            transform: scale(.82);
        }
    }
}

.card-actions__btn + .card-actions__btn {
    margin-left: 16px;
}

.touch{
    &.card-actions__btn_no {
        background: $color-blue-1;
    }

    &.card-actions__btn_showme {
        transform: translateY(2px);
        box-shadow: 0 0 0 #E4531D, 0 0 0 #CD3D07;
    }

    &.card-actions__btn_care {
        transform: translateY(2px);
        box-shadow:  0 0 0 rgba(31, 0, 113, 0.2), 0 0 0 #02CBBF;
    }

    .card-actions__ico {
        svg {
            path, circle {
                fill: #fff;
            }
        }
    }
}
