.meeting-feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 16px 8px 36px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: url(~@/assets/feed-bg.jpg) center top no-repeat;
    background-size: 100%;
}