.game-popup{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    &__top{
        background: radial-gradient(111.67% 171.78% at -14.03% -32.17%, #00D1FF 0%, #0090FF 45.08%, #0118E4 90%, #0118E4 100%);
        position: relative;

        &-decoration{
            @include absolute($left: 0, $bottom: 0, $right: 0);
            pointer-events: none;
            height: 26px;

            svg{
                width: 100%;
            }
        }
    }
}

.game-popup-countdown{
    @include absolute($left: 0, $top: 0, $right: 0, $bottom: 0);
    background: rgba(#fff, .7);
    transition: opacity .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: $font-family-montserrat;
    font-weight: 700;
    color: $color-blue-1;
    flex-direction: column;
    z-index: 5;

    &_hidden{
        pointer-events: none;
        opacity: 0;
        transform: scale(.5);
    }

    &__digit{
        font-size: 156px;
        line-height: 156px;
    }
}

.game-popup-circle{
    width: 206px;
    height: 206px;
    margin: 0 auto 24px;
    position: relative;
    border-radius: 50%;
    border: 12px solid transparent;

    &:before{
        content: '';
        @include absolute($left: -12px, $top: -12px, $right: -12px, $bottom: -12px);
        border: 11px solid #C9D9F9;
        border-radius: 50%;
        z-index: 1;
    }

    &__inline{
        @include absolute($left: 15px, $top: -12px);
        transition: transform .1s linear;
        transform-origin: center 103px;
        z-index: 1;
    }

    &__ava{
        width: 54px;
        height: 54px;
        z-index: 2;
        @include absolute($left: 63px, $top: 63px);
        border-radius: 50%;
        border: 1px solid $color-white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        background: no-repeat center #fff;
        background-size: cover;
    }

    &__timer{
        @include absolute($top: 50%, $left: 12px, $right: 12px);
        text-align: center;
        transform: translateY(-50%);
        color: #7E97C9;
        font-weight: 700;
        font-family: $font-family-montserrat;
        line-height: 40px;
        font-size: 34px;
    }

    &__heart{
        position: absolute;
        width: 42px;
        height: 36px;
        margin: -18px 0 0 -21px;
        left: 50%;
        top: 4px;

        &_animated{
            animation: heartbit 1s infinite;
        }

        svg{
            width: 42px;
            height: 36px;
        }
    }
}

.game-popup-circle-points{
    @include absolute($left: 0, $top: 0, $right: 0, $bottom: 0);

    &__count{
        position: absolute;
        @include absolute($left: 0, $top: 0, $right: 0, $bottom: 0);

        &_negative{
            .game-popup-circle-points__layer_1,
            .game-popup-circle-points__layer_2,
            .game-popup-circle-points__layer_3{
                color: #FA3C00;
                background: #FA3C00;
            }
        }

        &_positive{
            .game-popup-circle-points__layer_1,
            .game-popup-circle-points__layer_2,
            .game-popup-circle-points__layer_3{
                color: #BE00FA;
                background: #BE00FA;
            }
        }
    }

    &__layer_1{
        width: 258px;
        height: 258px;
        border-radius: 50%;
        margin: -129px  0 0 -129px;
        opacity: 0;
        will-change: transform, opacity;
        animation: points-layer_1 1s ease-in-out;
        @include absolute($left: 50%, $top: 50%);
    }

    &__layer_2{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: -100px  0 0 -100px;
        opacity: 0;
        will-change: transform, opacity;
        animation: points-layer_2 1s ease-in-out;
        @include absolute($left: 50%, $top: 50%);
    }

    &__layer_3{
        @include absolute($left: 50%, $top: 50%);
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 118px;
        height: 118px;
        border-radius: 50%;
        margin: -59px  0 0 -59px;
        font-weight: bold;
        font-size: 36px;
        line-height: 68px;
        animation: points-layer_3 .8s ease-in-out;
        will-change: transform, opacity;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    }

    @keyframes points-layer_3 {
        0%{
            opacity: 0;
            transform: scale(0);
        }

        20%, 40% {
            opacity: 1;
            transform: scale(1);
        }

        100%{
            opacity: 0;
            transform: scale(1);
        }
    }

    @keyframes points-layer_2 {
        0%{
            opacity: 0.5;
            transform: scale(0);
        }

        30%, 40% {
            opacity: 0.5;
            transform: scale(1);
        }

        100%{
            opacity: 0;
            transform: scale(1);
        }
    }

    @keyframes points-layer_1 {
        0%{
            opacity: 0.1;
            transform: scale(0);
        }

        40% {
            opacity: 0.1;
            transform: scale(1);
        }

        100%{
            opacity: 0;
            transform: scale(1);
        }
    }
}

.game-popup-header{
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__back{
        padding: 16px 10px 16px 16px;
    }

    &__name{
        font-size: 22px;
        font-family: $font-family-montserrat;
        color: $color-white;
        font-weight: 700;
    }
}

.game-popup-start{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    &__btn_start{
        position: absolute;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        width: 144px;
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -72px 0 0 -72px;
        z-index: 2;
    }

    &__info{
        padding: 16px 24px 48px;
        color: $color-white;
        text-align: center;
    }

    &__btn{
        padding: 8px 12px;
        display: block;
        line-height: 20px;
        max-width: 480px;
        margin: 0 auto;

        span{
            font-size: 12px;
            color: #E3E0EF;
            display: block;
        }
    }

    &__middle{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bottom{
        margin: 0 40px 36px;
        text-align: center;
    }
}

.game-popup-play{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    &__middle{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    &__circle{
        flex-direction: column;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    &__bottom{
        padding: 0 90px 52px;
        width: 100%;
        text-align: center;
    }

    &__sides{
        display: flex;
        padding: 12px 16px 36px;
        flex-direction: row;
        justify-content: space-between;
    }

    &__btn{
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
        border-radius: 8px;

        &_disabled{
            opacity: .7;
            transform: translateY(4px);
            box-shadow: 0 0 0 #E4531D, 0 0 0 #CD3D07;
            pointer-events: none;
        }
    }
}

.game-popup-play-side{
    display: flex;
    flex-direction: row;

    &__ava{
        width: 56px;
        height: 56px;
        border: 3px solid #2CFFB3;
        border-radius: 50%;
        background: no-repeat center #fff;
        background-size: cover;
    }

    &__content{
        padding: 0 12px;
        font-size: 14px;
        color: $color-white;
    }

    &__score{
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-family: $font-family-montserrat;

        &_more{
            color: #FDE464;
        }
    }

    &_my{
        text-align: left;
    }

    &_enemy{
        text-align: right;
        flex-direction: row-reverse;
    }

    &_lose{
        .game-popup-play-side__ava{
            border-color: #FF689E;
        }
    }
}

.game-popup-play-progress{
    @include absolute($top: -20px, $right: 41px, $bottom: 52px);
    width: 8px;
    background: linear-gradient(180deg, #0118E4 0%, #A9B7FF 100%);
    border-radius: 4px;

    &__line{
        @include absolute($top: 40px, $right: 0, $bottom: 0, $left: 0);
    }

    &__ava{
        width: 40px;
        height: 40px;
        top: 100%;
        left: 0;
        margin: -36px 0 0 -16px;
        border: 3px solid $color-white;
        background: no-repeat center;
        background-size: cover;
        border-radius: 50%;
        position: absolute;
        transition: top .5s linear;
        will-change: top;
    }
}

.game-popup-play-booster{
    position: absolute;
    left: 12px;
    bottom: 42px;

    &_disabled{
        opacity: .7;

        .game-popup-play-booster__title{
            color: #7E97C9;
        }
    }

    &__circle{
        width: 72px;
        height: 72px;
    }

    &__btn{
        border-radius: 50%;
        background: #BD00FF;
        color: #6D0092;
        box-shadow: inset 0px -4px 0px #9E00D6;
        @include absolute($top: 8px, $bottom: 8px, $left: 8px, $right: 8px);

        .ico2_booster-heart{
            @include absolute($left: 50%, $top: 2px);
            transform: translateX(-50%) ;
        }
    }

    &__title{
        top: 100%;
        margin: 6px 0 0;
        left: 0;
        width: 100%;
        position: absolute;
        text-align: center;
        color: #C202E9;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
}

@keyframes heartbit {
    0% {
        transform: scale( .75 );
    }
    20% {
        transform: scale( 1 );
    }
    40% {
        transform: scale( .75 );
    }
    60% {
        transform: scale( 1 );
    }
    80% {
        transform: scale( .75 );
    }
    100% {
        transform: scale( .75 );
    }
}
