.message-limit {
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 40px 20px;

    &__photo {
        background-position: top;
        background-size: cover;
        filter: blur(20px);
        @include absolute($top: -20px, $right: -20px, $bottom: -20px, $left: -20px);

        &:before {
            content: '';
            background-color: rgba(0, 0, 0, .5);
            @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        position: relative;
    }

    &__info {
        padding: 0px 30px;
        margin-bottom: 40px;
        font-weight: bold;
    }

    &__title {
        font-size: 20px;
        color: $color-yellow;
    }

    &__back {
        padding: 20px;
        @include absolute($top: 0, $right: 0);
    }

    button {
        flex-shrink: 0;
        min-width: 220px;
    }
}
