.feed-promo-photo{
  position: absolute;
  padding: 16px 20px 8px;
  background: $color-white;
  border-radius: 16px;
  right: 8px;
  top: 4px;
  left: 8px;
  max-width: 720px;
  box-shadow: 0 4px 12px rgba(31, 0, 113, 0.2);
  z-index: 5;
  text-align: center;

  &__title{
    font-size: $font-m;
    font-family: $font-family-montserrat;
    color: $color-orange-1;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__text{
    margin: 0 0 16px;
    color: $color-text-secondary;
  }

  &__btn{
    font-family: $font-family-montserrat;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 60px;
  }

  &__circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: $color-orange-1;
    border-radius: 50%;
    vertical-align: top;
  }
}
