.push-permissions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 8px 28px;

    &__head {
        position: relative;
        background-color: $color-gray1;
        border-radius: 50%;
        padding: 8px;
        margin-top: -60px;
        margin-bottom: 8px;
    }

    &__photo {
        background-position: center;
        background-size: cover;
        border: 4px solid #fff;
        border-radius: 50%;
        width: 104px;
        height: 104px;
    }

    &__ico {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        width: 36px;
        height: 36px;

        @include absolute($right: 0, $bottom: 7px);
    }

    &__message {
        text-align: center;
        background-color: #fff;
        color: $color-gray4;
        font-size: 16px;
        padding: 18px 26px;
        margin-bottom: 18px;

        span {
            color: $color-yellow-tapped;
        }
    }

    .btn_secondary {
        margin-bottom: 12px;
    }
}
