.tutorial{
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    box-shadow: 0 0 10px rgba($color-black, .2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &-image{
        display: block;
        width: 100%;
        margin: 0 auto;

        &:before{
            content: "";
            background: url(~@/assets/tutorial.jpg) center no-repeat;
            background-size: cover;
            padding-bottom: 72%;
            display: block;
        }
    }

    &-content{
        padding: 18px 32px 32px;
    }

    &-title{
        font-size: $font-xl;
        font-family: $font-family-montserrat;
        color: $color-text-primary;
        font-weight: $font-wb;
        margin: 0 0 12px;
        line-height: 34px;
    }

    &-text{
        font-size: $font-s;
        line-height: 22px;
    }

    &-next{
        padding: 0 32px 26px;
        text-align: right;

        &__btn{
            padding: 14px 14px;
            margin: 0 -10px;
            display: inline-block;
            font-size: $font-m;
            line-height: 26px;
            color: #1F64CD;
        }
    }
}