.vip-card {
    @include absolute($top: 0, $right: 0, $bottom:0, $left: 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2px;
    //background: $color-gray3 url(~@/assets/couple.jpg) center top no-repeat;
    background-size: cover;
    padding: 18px 22px;
    overflow: hidden;
    will-change: transform, opacity;
    touch-action: none;
    z-index: 5;

    &:before {
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24.57%, rgba(255, 255, 255, 0.89) 46.18%, #FFFFFF 100%);
        @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
    }

    &__animated {
        transition: transform 0.7s cubic-bezier(.175,.885,.32,1.275);
    }

    &__title {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 40px;

        span {
            color: $color-yellow-tapped;
        }

        h2 {
            font-size: 24px;
        }
    }

    &__back {
        @include absolute($top: 0, $right: 0);
        padding: 14px;
    }

    .btn_primary {
        align-self: center;
        min-width: 220px;
    }

    &.country_id {
        background-image: url(~@/assets/lang/id/couple-id.jpg);
    }

    &.country_tr {
        background-image: url(~@/assets/lang/tr/couple-tr.jpg);
    }

    &.country_br {
        background-image: url(~@/assets/lang/br/couple-br.jpg);
    }

    &.country_in {
        background-image: url(~@/assets/lang/in/couple-in.jpg);
    }
}

.fade-opacity-enter-active, .fade-opacity-leave-active {
    transition: opacity .5s;
}
.fade-opacity-enter, .fade-opacity-leave-to {
    opacity: 0;
}

.bounce-scale-enter-active {
    animation: bounce-scale-in .5s;
}
.bounce-scale-active {
    animation: bounce-scale-in .5s reverse;
}
@keyframes bounce-scale-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
