$paddingSide: 36px;

.waiters-popup {
    &__container{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 $paddingSide;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__top{
        padding: 2px 0 0;
    }

    &__middle{
        padding: 0 0 16px;
    }

    &__bottom{
        padding: 0 0 36px;
    }

    &__title{
        margin: 0 0 12px;
        font-weight: 700;
        font-size: $font-xl;
        line-height: $font-xl;
    }

    &__text{
        margin-bottom: 20px;
        font-size: $font-xm;
        line-height: 20px;
    }

    &-aim{
        background: url(~@/assets/waiters-aim-decor.png) no-repeat center;
        width: 264px;
        height: 188px;
        background-size: contain;
        position: relative;
        margin: 0 auto;

        &__user{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 74px;
            top: 44px;
            border-radius: 50%;
            background-size: cover;
        }
    }

    &-motivator{
        padding: 12px 14px 12px 60px;
        border-radius: 80px;
        background: linear-gradient(144.89deg, #59AFFF 32.45%, #0085FF 68.34%);
        box-shadow: 0px 4px 24px #00109B, 0px 4px 0px #0011AA;
        text-align: left;
        margin: 0 0 28px;
        line-height: 20px;
        position: relative;

        &__title{
            color: #03259C;
            font-size: 16px;
            font-weight: 700;
        }

        &__text{
            color: #1940CD;
            font-size: 14px;
        }

        &__ico{
            position: absolute;
            background: url(~@/assets/waiters-cards-ico.png) no-repeat center;
            background-size: contain;
            left: 4px;
            top: 5px;
        }
    }

    &-queue{
        margin: 0 (-$paddingSide) 12px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        &__line{
            position: absolute;
            margin-top: -2px;
            height: 4px;
            left: 0;
            top: 50%;
            right: 0;
            background: linear-gradient(90deg, rgba(255, 202, 97, 0) 0%, #FFCA61 9.38%, #FF6426 91.15%, rgba(255, 100, 38, 0) 99.48%);
        }

        &__user{
            width: 60px;
            height: 60px;
            margin: 0 -5px;
            background: #fff no-repeat center;
            border: 3px solid #FF8439;
            box-sizing: border-box;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            position: relative;
        }
    }

    &__info{
        color: #46A6FF;
        font-size: 14px;
    }

    &__btn{
        display: block;
        font-weight: 600;
    }
}

.popup_waiters{
    .popup__content{
        background: radial-gradient(111.67% 171.78% at -14.03% -32.17%, #00D1FF 0%, #0090FF 45.08%, #0118E4 100%);;
        color: $color-white;
        text-align: center;
    }
}