.alert-dialog{
    &__title{
        font-size: $font-m;
        padding: 16px 48px;
        font-weight: 700;
        font-family: $font-family-montserrat;
    }

    &__content{
        padding: 12px 24px;
    }

    &__actions{
        padding: 16px 24px;
    }

    &__action{
        padding: 12px 60px;
        border-radius: 8px;
    }

    .popup__content {
        min-height: 0;
        text-align: center;
    }
}
