.complaint{
    padding: 16px 48px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &__title{
        font-size: $font-xl;
        font-weight: 700;
        margin: 0 0 12px;
        font-family: $font-family-montserrat;
    }

    &__list{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__item{
        padding: 16px 24px;
        border-bottom: 1px solid $color-gray1;
        transition: all .1s linear;
        width: 100%;

        &:first-child{
            border-top: 1px solid $color-gray1;
        }

        &.touch{
            background: $color-gray1;
        }
    }

    &__helper{
        font-size: $font-xm;
        margin: 0 0 24px;
    }

    &__btn{
        width: 100%;
        max-width: 420px;
    }
}