.send-gift{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: linear-gradient(170.86deg, #00D1FF 4.15%, #1D68CE 52.39%, #1F64CD 95.85%);
    flex-direction: column;

    &__content{
        flex-grow: 1;
        overflow-y: auto;
    }

    &__list{
        padding: 12px 24px 24px;
        font-size: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        padding: 8px;
        width: 33%;
    }

    &__img{
        display: block;
        max-width: 150px;
        margin: 0 auto;
        background: no-repeat center;
        background-size: contain;

        &:before{
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
}

.send-gift-head{
    height: 56px;
    background: #05C1F7;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__button{
        padding: 16px 10px 16px 16px;
    }

    &__aim{
        margin: 0 16px 0 0;
    }
}

.send-gift-aim{
    display: flex;
    flex-direction: row;
    align-items: center;

    &__ava{
        width: 36px;
        height: 36px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin: 0 8px 0 0;
        background: #ccc no-repeat center;
        background-size: cover;
    }

    &__fio{
        font-size: 18px;
        color: $color-white;
        font-weight: 700;

    }
}

.send-gift-subscribe{
    &__back{
        @include absolute($top: 0, $left: 0);
        padding: 16px;
    }

    &__content{
        padding: 24px 40px;
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow-y: auto;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title{
        font-size: $font-m;
        color: $color-white;
        font-family: $font-family-montserrat;
        margin: 0 0 16px;
    }

    &__gift{
        background: url(~@/assets/light.png) no-repeat center;
        background-size: contain;
        height: 212px;
        width: 212px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 16px;
    }

    &__field{
        margin: 0 0 24px;
        width: 100%;
        position: relative;
    }

    &__hidden-text{
        opacity: 0;
        text-align: left;
        overflow-y: auto;
    }

    &__hidden-text,
    &__text{
        min-height: 56px;
        max-height: 80px;
        height: auto;
        font-size: 18px;
        line-height: 24px;
        padding: 14px 16px;
    }

    &__aim{
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 72px;
        height: 72px;
        background: no-repeat center #fff;
        background-size: cover;
        border: 1px solid #FFFFFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    &__text{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        resize: none;
    }

    &__btn{
        border-radius: 8px;
        display: block;
        width: 100%;
    }
}