.steps-progress {
    text-align: center;

    &__title {
        text-align: left;
        padding-left: 40px;
        margin-bottom: 18px;
    }

    &__bar {
        display: inline-flex;
        position: relative;

        &:before {
            content: '';
            background-color: $color-yellow;
            height: 4px;
            @include absolute($top: 4px, $right: 4px, $left: 4px);
        }
    }

    &__step {
        position: relative;
        width: 12px;
        height: 12px;
        margin: 0 4px;

        &:after {
            content: '';
            background-color: $color-yellow;
            border-radius: 50%;
            transform: scale(0);
            transition: transform .4s ease-out;
            @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
        }
    }

    &__step-current {
        &:after {
            transform: scale(1);
        }
    }

    &__step:first-child {
        margin-left: 0;
    }

    &__step:last-child {
        margin-right: 0;

        .steps-progress__dot {
            border: 2px solid $color-yellow;
        }

        &:before {
            content: '';
            background-color: #fff;
            border: 1px solid $color-yellow-disabled;
            border-radius: 50%;
            @include absolute($top: -4px, $right: -4px, $bottom: -4px, $left: -4px);
        }
    }

    &__dot {
        position: relative;
        background-color: #fff;
        border: 1px solid $color-yellow;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

}
