.actions-dialog {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 10;
    @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);

    &__background {
        @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
    }

    &__list {
        position: relative;
        width: 280px;
        background: #fafafa;
        margin: 12px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 2px;
        animation: .1s linear actions-list-animation;
    }

    &__item {
        font-size: 16px;
        color: #333;
        padding: 15px 20px;
        transition: background .1s linear;

        &.touch{
            background: $color-gray1;
        }
    }
}

@keyframes actions-list-animation{
    0% {
        opacity: 0;
        transform: translate(0px, -10px) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0) rotate(0deg);
    }
}
