.btn {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 14px 24px;
    background: #fff;
    border: none;
    border-radius: 28px;
    color: $color-red-1;
    font-family: $font-family-montserrat;
    font-size: $font-m;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    outline: none;
    position: relative;
    width: auto;

    @extend %ripple;

    &_w100 {
        width: 100%;
    }

    &_br {
        border-radius: 8px;
        border: 1px solid #ff2f51;
        padding: 12px 0;
    }

    &_bw {
        border-radius: 12px;
        border: 2px solid #fff;
        padding: 12px 0;
        background: none;
        color: #fff;

        @extend %ripple_white;
    }

    &_s {
        padding: $s $xm;
        border-radius: 4px;
        font-size: $font-xm;
    }

    &_success {
        background: $color-green-1;
        border-color: $color-green-1;
        color: #ffffff;

        @extend %ripple_white;
    }


    &_warning {
        @extend .btn_orange;
    }

    &_white {
        background: #fff;
        border-color: #fff;
        color: $color-blue-1;

        @extend %ripple_white;
    }

    &_purple {
        color: #fff;
        background: #C202E9;
        box-shadow: 0 4px 12px rgba(31, 0, 113, 0.2), 0 4px 0 #6C0082;

        @extend %ripple_white;
    }

    &_orange {
        background: $color-orange-1;
        border-color: $color-orange-1;
        color: #ffffff;
        box-shadow: 0 4px 6px #E4531D, 0 4px 0 #CD3D07;

        @extend %ripple_white;
    }

    &_blue {
        background: $color-blue-2;
        border-color: $color-blue-2;
        color: #ffffff;
        box-shadow: 0 4px 0 #1338BC, 0 4px 12px rgba(31, 0, 113, 0.2);

        @extend %ripple_white;
    }

    &_turquoise {
        background: $color-turquoise-1;
        border-color: $color-turquoise-1;
        color: #ffffff;
        box-shadow:  0 4px 6px rgba(31, 0, 113, 0.2), 0 4px 0 #02CBBF;

        @extend %ripple_white;
    }

    &_link {
        border: 0;
        opacity: 0.9;
        color: $color-text-primary;
        background: none;
    }

    &_opaque {
        border: 0;
        opacity: 0.9;
        color: $color-text-light-blue;
        background: none;
    }

    &_warning {
        background: $color-orange-1;
        border-color: $color-orange-1;
        color: #ffffff;

        @extend %ripple_white;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-toggle-profile {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12),
                0 0 2px 0 rgba(0, 0, 0, .12);
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(256, 256, 256, .1);
}

button {
    position: relative;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: $font-family-lato;
    font-size: 14px;
    color: $color-black;
    transition: all 0.3s ease;

    &:disabled {
        pointer-events: none;

        .ico {
            opacity: .4;
        }
    }
}

.btn_primary {
    color: $color-black;
    background: $color-yellow;
    border-radius: 100px;

    &.touch {
        background: $color-yellow-tapped;
    }

    &:disabled {
        color: $color-gray3;
        background: $color-yellow-disabled;
    }
}

.btn_secondary {
    color: $color-yellow-tapped;
    background: $color-white;
    border: .75px solid $color-yellow-tapped;
    border-radius: 100px;

    &.touch {
        background: $color-yellow-disabled;
    }

    &:disabled {
        color: rgba($color-yellow-disabled, .75);
        background: rgba($color-white, .75);
        border: .75px solid rgba($color-yellow-disabled, .75);
    }
}

.btn_white {
    color: $color-black;
    background: $color-white;
    border-radius: 100px;

    &.touch {
        color: $color-yellow-tapped;
        background: $color-yellow-disabled;
    }

    &:disabled {
        color: $color-gray3;
        background: $color-gray1;
    }
}

.btn_link {
    color: $color-blue-1;
    font-weight: bold;
}

.btn_size-m {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 38px 16px;
}

.btn_mw220 {
    min-width: 220px;
}

.btn_mw240 {
    min-width: 240px;
}

.touch{
    &.btn_orange{
        transform: translateY(4px);
        box-shadow: 0 0 0 #E4531D, 0 0 0 #CD3D07;
    }

    &.btn_purple{
        transform: translateY(4px);
        box-shadow: 0 0 0 rgba(31, 0, 113, 0.2), 0 0 0 #6C0082;
    }

    &.btn_blue{
        transform: translateY(4px);
        box-shadow: 0 0 0 #1338BC, 0 0 0 rgba(31, 0, 113, 0.2);
    }

    &.btn_turquoise{
        transform: translateY(4px);
        box-shadow:  0 0 0 rgba(31, 0, 113, 0.2), 0 0 0 #02CBBF;
    }
}
