@mixin media-retina($media-ratio: 1.3) {
    $media-ratio-dppx: $media-ratio + 'dppx';
    $media-ratio-opera: ($media-ratio*2) + "/2";

    @media (min--moz-device-pixel-ratio: $media-ratio),
    (-o-min-device-pixel-ratio: $media-ratio-opera),
    (-webkit-min-device-pixel-ratio: $media-ratio),
    (min-device-pixel-ratio: $media-ratio),
    (min-resolution: $media-ratio-dppx)
    {
        @content;
    }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin absolute($args...) {
    @include position(absolute, $args...);
}
