.push-notification-wrapper {
    position: fixed;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0 12px;
    display: flex;
    justify-content: center;
}

.push-notification {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 16px;
    width: 100%;
    max-width: 380px;
    border-radius: 2px;
    transform: translate3d(0, -150% ,0);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    &__ava-wrapper {
        position: relative;
        margin-right: 16px;
        margin: 8px 16px 8px 0;
        flex-shrink: 0;
    }

    &__ava {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }

    &__content {
        flex-grow: 1;
        overflow: hidden;
        margin: 8px 0;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        color: #333
    }

    &__text {
        color: $color-gray4;
    }

    &__ico-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 16px;
    }

    &.yellow {
        background: $color-yellow;

        .push-notification__text {
            font-size: 16px;
            font-weight: bold;
            color: $color-black;
        }
    }

    &.yellow-gradient {
        background: linear-gradient(90deg, #F6AD1E 0, #F65F1E 100%);

        .push-notification__text {
            font-size: 16px;
            font-weight: bold;
            color: $color-black;
        }
    }

    &_show {
        animation: push-notification-show .3s ease-in-out forwards;
    }

    &_hide {
        animation: push-notification-hide .3s ease-in-out forwards;
    }
}

@keyframes push-notification-show {
    from {
        transform: translate3d(0, -150%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes push-notification-hide {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -150%, 0);
    }
}
