.ico-bill {
  background-image: url(~@/assets/generated-sprite-ico-bill-d41d8.png);
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .ico-bill {
    background-image: url(~@/assets/generated-sprite-ico-bill-d41d8-2x.png);
    background-size: 0px 0px;
  }
}



%ico-bill {
  background-image: url(~@/assets/generated-sprite-ico-bill-d41d8.png);
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  %ico-bill {
    background-image: url(~@/assets/generated-sprite-ico-bill-d41d8-2x.png);
    background-size: 0px 0px;
  }
}

