.ico2 {
  background-image: url(~@/assets/generated-sprite-ico2-0020a.png);
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .ico2 {
    background-image: url(~@/assets/generated-sprite-ico2-84340-2x.png);
    background-size: 180px 135px;
  }
}

.ico2_booster-heart {
  background-position: -92px 0px;
  width: 64px;
  height: 57px;
}
.ico2_booster-promo-heart {
  background-position: 0px 0px;
  width: 92px;
  height: 80px;
}
.ico2_check-read {
  background-position: -156px 0px;
  width: 24px;
  height: 24px;
}
.ico2_gift-mess {
  background-position: -60px -80px;
  width: 50px;
  height: 46px;
}
.ico2_heart-game {
  background-position: 0px -80px;
  width: 60px;
  height: 55px;
}
.ico2_menu {
  background-position: -156px -24px;
  width: 16px;
  height: 24px;
}
.ico2_ok-white {
  background-position: -156px -48px;
  width: 20px;
  height: 16px;
}
.ico2_photo-black-16 {
  background-position: -156px -64px;
  width: 16px;
  height: 14px;
}
.ico2_photo-messenger {
  background-position: -110px -80px;
  width: 36px;
  height: 36px;
}


%ico2 {
  background-image: url(~@/assets/generated-sprite-ico2-0020a.png);
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  %ico2 {
    background-image: url(~@/assets/generated-sprite-ico2-84340-2x.png);
    background-size: 180px 135px;
  }
}

%ico2_booster-heart {
  background-position: -92px 0px;
  width: 64px;
  height: 57px;
}
%ico2_booster-promo-heart {
  background-position: 0px 0px;
  width: 92px;
  height: 80px;
}
%ico2_check-read {
  background-position: -156px 0px;
  width: 24px;
  height: 24px;
}
%ico2_gift-mess {
  background-position: -60px -80px;
  width: 50px;
  height: 46px;
}
%ico2_heart-game {
  background-position: 0px -80px;
  width: 60px;
  height: 55px;
}
%ico2_menu {
  background-position: -156px -24px;
  width: 16px;
  height: 24px;
}
%ico2_ok-white {
  background-position: -156px -48px;
  width: 20px;
  height: 16px;
}
%ico2_photo-black-16 {
  background-position: -156px -64px;
  width: 16px;
  height: 14px;
}
%ico2_photo-messenger {
  background-position: -110px -80px;
  width: 36px;
  height: 36px;
}
