.ico-nav {
  background-image: url(~@/assets/generated-sprite-ico-nav-bb936.png);
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .ico-nav {
    background-image: url(~@/assets/generated-sprite-ico-nav-90502-2x.png);
    background-size: 90px 90px;
  }
}

.ico-nav_meet {
  background-position: -64px 0px;
  width: 26px;
  height: 28px;
}
.ico-nav_meet-active {
  background-position: -64px -28px;
  width: 26px;
  height: 28px;
}
.ico-nav_message {
  background-position: 0px -35px;
  width: 27px;
  height: 28px;
}
.ico-nav_message-active {
  background-position: -27px -35px;
  width: 27px;
  height: 28px;
}
.ico-nav_profile {
  background-position: 0px -63px;
  width: 23px;
  height: 27px;
}
.ico-nav_profile-active {
  background-position: -23px -63px;
  width: 23px;
  height: 27px;
}
.ico-nav_symp {
  background-position: 0px 0px;
  width: 32px;
  height: 35px;
}
.ico-nav_symp-active {
  background-position: -32px 0px;
  width: 32px;
  height: 35px;
}


%ico-nav {
  background-image: url(~@/assets/generated-sprite-ico-nav-bb936.png);
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  %ico-nav {
    background-image: url(~@/assets/generated-sprite-ico-nav-90502-2x.png);
    background-size: 90px 90px;
  }
}

%ico-nav_meet {
  background-position: -64px 0px;
  width: 26px;
  height: 28px;
}
%ico-nav_meet-active {
  background-position: -64px -28px;
  width: 26px;
  height: 28px;
}
%ico-nav_message {
  background-position: 0px -35px;
  width: 27px;
  height: 28px;
}
%ico-nav_message-active {
  background-position: -27px -35px;
  width: 27px;
  height: 28px;
}
%ico-nav_profile {
  background-position: 0px -63px;
  width: 23px;
  height: 27px;
}
%ico-nav_profile-active {
  background-position: -23px -63px;
  width: 23px;
  height: 27px;
}
%ico-nav_symp {
  background-position: 0px 0px;
  width: 32px;
  height: 35px;
}
%ico-nav_symp-active {
  background-position: -32px 0px;
  width: 32px;
  height: 35px;
}
