$xs: 4px;
$s: 8px;
$xm: 12px;
$m: 16px;
$l: 24px;
$xl: 36px;

$font-xxs: 11px;
$font-xs: 12px;
$font-s: 14px;
$font-xm: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 28px;
$font-xxl: 34px;

$line-height-xxs: 14px;
$line-height-xs: 18px;
$line-height-s: 20px;
$line-height-xm: 22px;
$line-height-m: 26px;
$line-height-l: 28px;
$line-height-xl: 34px;
$line-height-xxl: 40px;

$font-wn: 400;
$font-wm: 500;
$font-wb: 700;

$color-red-1: #ff2f51;

$color-blue-1: #46A6FF;
$color-blue-2: #3C64F3;
$color-green-1: #62b539;
$color-green-2: #40CE0E;
$color-turquoise-1: #08DED1;
$color-orange-1: #FF6125;

$color-black: #212121;
$color-white: #ffffff;
$color-gray1: #f0f0f0;
$color-gray2: #E3E0EF;
$color-gray3: #6a6a6a;
$color-gray4: #4a4a4a;
$color-yellow: #FFC960;
$color-yellow-tapped: #de9403;
$color-yellow-disabled: #fbd68e;
$color-darkblue: #0F2F61;

$font-family-normal: 'Roboto-Regular', Roboto, Tahoma, sans-serif;
$font-family-medium: 'Roboto-Medium', Roboto, Tahoma, sans-serif;
$font-family-bold:   'Roboto-Bold', Roboto, Tahoma, sans-serif;

$font-family-lato: 'lato', Roboto, Tahoma, sans-serif, -apple-system;
$font-family-montserrat: 'Montserrat', Roboto, Tahoma, sans-serif, -apple-system;

$color-text-primary: #000000;
$color-text-secondary: #8A95A6;
$color-text-light: #FFFFFF;

$color-text-light-blue: $color-blue-1;
$color-text-blue: $color-blue-2;
